
.login-form{
   position: absolute;
   left: 0;
   right: 0;
    /* width: 40vw; */
   max-width: 400px;
   min-width: 300px;
   padding: 35px 35px 15px;
   margin: 10% 0 0 20%;
}
.login-title{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}