.header{
    color:#fff;
    /* font-size: 20px; */
    text-align: right;
    min-height: 56px;
    padding:5px 20px 5px 0;
    /* line-height: 56px; */
    background-color: #001529;
}
.name{
    text-align: left;
}
.title{
    font-size: 20px;
    padding-right: 40%;
    padding-top: 40%;
    /* line-height: 56px; */
}